.cart{
  width: 250px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: 2rem; */
}
.img_cart{
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartbody{
  height: 210px;
  text-align: center;
}
.img{
  
}